body {
  font-family: 'Rubik', sans-serif;
  background-image: url('./assets/wallpaper.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/*header*/

.main-header-parent {
  width: 100%;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.upper-header {
  background-color: rgb(4, 4, 4);
  height: 7vh;
  min-height: fit-content;
  width: 90%;
  text-align: right;
}

.login-btn {
  padding-right: 1.5%;
  border-color: transparent;
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(254, 254, 254);
  opacity: 1;
  transition: ease-in-out .75s;
}

.login-btn:hover {
  transform: scale(1.75);
  color:rgb(247, 173, 0);
}

.central-header {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: rgba(254, 254, 254, 0.814);
}

.site-title {
  background-image: url('./assets/tigerprint.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title-span {
  color:rgb(1, 1, 1);
}

.lower-header {
  width: 90%;
  height: 50%;
  background-color: rgb(4, 4, 4);
  opacity: .65;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-btn {
  border-radius: 45%;
  width: 5vh;
  min-width: fit-content;
  border-color: transparent;
  background-color: white;
  
  transition: ease-in-out 3s;
}

.header-btn:hover {
  border-radius: 45%;
  width: 5%;
  border-color: transparent;
  background-color: rgb(250, 134, 1);
  box-shadow: 7px 7px 10px 5px rgb(81, 81, 81);
  transform: scale(2);
  
}

/* Main */
.main-parent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.main-article-parent {
  height: fit-content;
  min-height: 75vh;
  width: 90%;
  background-color: rgba(254, 254, 254, 0.814);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  border-bottom: 1px solid;
  margin-bottom: 5%;
  margin-top: 2%;
}

.main-article {
  width: 50%;
  height: 50vh;
  background-color: whitesmoke;
  border-style: solid;
  border-color: rgb(232, 140, 20);
  box-shadow: 0px 0px 20px 5px rgb(32, 32, 32);
  padding: 3%;
  text-indent: 2%;
}

/* Pets Menu */

.pets-menu-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pets-menu-col {
  width: 45%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3%;
}

.Pets-Menu-Componet-Parent {
  display: flex;
  flex-direction: column;
}


.Pets-Menu-Componet-Upper {
  max-height: 50%;
  width: 100%;

  
  justify-content: space-around;
  

}


.pets-name {
  height: 20%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}

.menu-img-container {
  height: 20vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  padding-bottom: 3%;

  

  
}

.pets-img {
  height: 100%;
  width: 60%;
  
  object-fit: cover;

  border: 2px;
  border-color: black;
  border-style: solid;

  box-shadow: 5px 2px 15px 3px rgb(81, 81, 81);
}

.Pets-Menu-Lower-Parent {
  width: 100%;
  min-height: 50%;
  height: fit-content;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;

  

}

.Pets-Description-Menu {
  width: 75%;
  padding-top: 1%;
  text-align: left;
  text-indent: 1.5%;
  margin: 0 auto;
  text-align: center;
}

.Pets-Menu-Sub-Parent {
  padding-top: 2%;
  width:100%;
  display: flex;
  flex-direction: row;

}

.Pets-Menu-Sub-Parent-Header {
  font-size: medium;
  margin-right: 5%;

}

.Pets-Menu-Sub-Parent-Txt {
  margin-top: 10% ;

}



/* Footer */

.main-footer-parent {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.footer-content-box {
  width:90%;
  height:100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: black;
  opacity: .65;
}

.icon {
  font-size: xx-large;
 
}

.iconcolor {
  color:rgb(250, 162, 0);
}

.iconcolor:hover {
  color:rgb(255, 255, 255);
}
